.calculator {
    height: 320px;
    width: 235px;
    border-radius: 5px;
    /* overflow: hidden; */
    display: grid;
    grid-template-columns: repeat(4, 25%);
    /* grid height */
    grid-template-rows: 1fr 48px 48px 48px 48px 48px;
    /* first line gets space left and another ones with 48px */
}